# Git
.git
.gitignore

# Локальное окружение
venv
.venv
__pycache__
*.pyc

# Переменные окружения
.env

# Базы данных
*.db
*.sqlite3

# Логи
*.log

# Миграции (будут созданы заново)
**/migrations/*
!**/migrations/__init__.py

# Статика (собирается заново)
staticfiles

# Локальные файлы
.vscode
.idea
*.md